<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>BIOS-SCOPE test site</title>
</head>
<body style="padding: 30px">
    <!-- Display variables passed from Python code -->
    <h1>{{ message }}</h1>
    <h3>The current time is : {{ current_time }}</h3>
    <h4>{{testin}}</h4>
    <h4>{% for test in testin2 %}</h4>
    <form method = "post">
        <li>
        <input type = "checkbox", id="depth", name = test>
            </li>
        {% endfor %}
    </form>




</body>
</html>
